@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color:#323946;
    --text-color: #fff;
    --main-color: #ffee00;
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;   
    transition: 0.3s; ;
}

.navbar a:hover,
.navbar a.active{
    color:var(--main-color);

}

#menu-icon{
    font-size: 3.6rem;
    color:var(--text-color);
    display: none ;

}

.home{
    display: flex;
    justify-content: center;
    align-items: center; 

}
.home-img img{
    width:35vw;
    animation: floatImage 4s ease-in-out infinite;
   

}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content h3{
    font-size:3.2rem;
    font-weight: 700;

}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}
.multiple-text{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;

}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height: 4rem;
    background: transparent;
    border:.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color:var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btnp{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

.btnp:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img{
    width:35vw;

}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;

}

/*services*/

.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border:.2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i{
    font-size:7rem;
    color: var(--main-color);
    
}

.services-box h3{
    font-size: 2.6rem;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;

}

/*portfolio*/

.filter-buttons{
    margin:2rem;
    text-align: center;
}

.filter-buttons .btnp{
   
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .4px;
    margin-left: 1.3rem;

}

.portfolio{
    background: var(--second-bg-color);
}

.portfolio-gallery{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(270px,1fr));
    gap:2rem;
}

.port-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #292e33;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--main-color);
    height:220px;
    
}

.port-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.port-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}


.port-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: .5s;
    padding:0.4rem;

}

.port-box:hover .port-content{

    opacity:1;
    background-color: rgba(0, 238, 255, 0.5);
    backdrop-filter: blur(20px);
}

.port-box:hover .port-image img{
    transform: scale(1.1);
}

.port-box:hover .port-image:hover img{
    transform: scale(1.1);
}

.port-content h3{
    font-size: 2rem;
    font-weight: 600;
    margin:0px 0 0px 0;
    color: black;
    
}

.port-content p{
    font-size: 1.4rem;
    margin:0px 0 0px 0;
    color: black;
    font-weight: 600;

}

.port-content a{
    
    border-radius: 50%;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    background: var(--text-color);
    


}

.port-content a i {
    font-size: 1.7rem;
    color: var(--second-bg-color);
    
}

.icon-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.icon-circle {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-bg-color);
    border-radius: 50%;
    transition: background-color 0.3s ease;

    /* Add margin between the circles */
    margin: 1rem;
}

.icon-circle i {
    font-size: 1.7rem;
    color: var(--text-color);
}

.icon-circle:hover {
    /* Use rgba() for the background color with alpha for transparency */
    background-color: rgba(250, 255, 255, 0.5); /* Adjust the color and alpha */
    backdrop-filter: blur(50px); /* Adjust the blur amount */
}
.contact{
    min-height: 60vh;
    padding: 10rem 9% 1rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    
}

.contact form .input-box input {
    width:49%;

}

.contact form textarea {
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.contact p{
    font-size: 1.8rem;
    
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.6rem;
    
} 

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.foooter-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}


/*breakpoints*/

@media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 991px) {
    .header {
      padding: 2rem 2%; /* Adjusted padding */
    }
  
    section {
      padding: 8rem 2% 2rem; /* Adjusted padding */
    }
  
    .services {
      padding-bottom: 4rem; /* Adjusted padding */
    }
  
    .portfolio {
      padding-bottom: 4rem; /* Adjusted padding */
    }
  
    .contact {
      min-height: auto;
    }
  
    .footer {
      padding: 2rem 2%; /* Adjusted padding */
    }
  }
  
  @media (max-width: 768px) {
    #menu-icon {
      display: block;
    }
  
    .navbar {
      position: relative; /* Changed position */
      top: initial;
      left: initial;
      width: 100%;
      padding: 1rem 2%; /* Adjusted padding */
      background: var(--bg-color);
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      display: none;
    }
  
    .navbar.active {
      display: block;
    }
  
    .navbar a {
      display: block;
      font-size: 2rem;
      margin: 2rem 0; /* Adjusted margin */
    }
  
    .home {
      flex-direction: column;
    }
  
    .home-content h3 {
      font-size: 2.6rem;
    }
  
    .home-content h1 {
      font-size: 4.5rem; /* Adjusted font size */
    }
  
    .home-img img {
      width: 70vw;
      margin-top: 2rem; /* Adjusted margin */
    }
  

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .container{
        grid-template-columns: repeat(2,1fr);
    }
    .portfolio-gallery{
        grid-template-columns: repeat(2,1fr);
    }
    



}
@media (max-width:617px){
    .container{
        grid-template-columns:1fr;
    }
    .portfolio-gallery{
        grid-template-columns: 1fr;
    }
    
    
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
    
}

@media (max-width:365px){
    .home-img img {
        width:90vw;

    }
    
    

    .about-img img {
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-bottom: 2rem;
    }
        
}
