.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: #030303;
  gap: 2rem;
}

.footer-text p {
  font-size: 1.6rem;
  color: #fff;
  margin: 0;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: #fff;
  border-radius: 0.8rem;
  transition: 0.5s ease;
  text-decoration: none;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: #000000;
  transition: 0.3s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem #181818;
  transform: translateY(-3px);
}

.footer-iconTop a:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 2rem 5%;
  }
  
  .footer-text p {
    font-size: 1.4rem;
  }
}

@media (max-width: 365px) {
  .footer {
    flex-direction: column-reverse;
    padding: 1.5rem 4%;
  }
  
  .footer-text p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .footer-iconTop a {
    padding: 0.6rem;
  }
  
  .footer-iconTop a i {
    font-size: 2rem;
  }
}