.Ab-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background: #e6e6e6;
  padding: 10rem 12%;
  min-height: 90vh;
}

.Ab-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Ab-img-box {
  position: relative;
  width: 100%;
  max-width: 420px;
  background: #f3f4f6;
  border-radius: 20px;
  aspect-ratio: 1/1.1;
}

.Ab-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.Ab-social-card {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  display: flex;
  padding: 1.8rem 3rem;
  gap: 2rem;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
  width: 85%;
  justify-content: center;
}

.Ab-social-card a {
  font-size: 2.5rem;
  color: #000000;
  transition: transform 0.3s ease;
}

.Ab-social-card a:hover {
  transform: translateY(-5px);
}

.Ab-content {
  flex: 1.2;
}

.Ab-heading {
  font-size: 4.8rem;
  font-weight: 800;
  color: #000000;
  line-height: 1.1;
  margin-bottom: 2.5rem;
}

.Ab-heading span {
  display: block;
  color: #9c0f0f;
}

.Ab-text {
  font-size: 1.8rem;
  color: #6b7280;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.Ab-btn-wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 3.5rem;
}

.Ab-btn-main {
  padding: 1.6rem 3.5rem;
  background: #000000;
  color: #fff;
  border-radius: 8px;
  font-size: 1.7rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.Ab-btn-main:hover {
  background: #3a3a3a;
}

.Ab-btn-sub {
  padding: 1.6rem 3.5rem;
  background: #ffffff;
  color: #1f2937;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  transition: 0.3s;
  border-color: #000000;
}

.Ab-btn-sub:hover {
  border-color: #000000;
  color: #3a3a3a;
}

@media (max-width: 1024px) {
  .Ab-section {
    flex-direction: column;
    padding: 8rem 5%;
    gap: 10rem;
    text-align: center;
  }

  .Ab-heading {
    font-size: 3.8rem;
  }

  .Ab-btn-wrapper {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .Ab-img-box {
    width: 300px;
  }
  
  .Ab-btn-wrapper {
    flex-direction: column;
  }
  
  .Ab-social-card {
    padding: 1.2rem;
    gap: 1.5rem;
  }
}