.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

@media (max-width: 365px) {
  .footer {
    flex-direction: column-reverse;
  }
  .footer-text p {
    text-align: center;
    margin-bottom: 2rem;
  }
}